body{
    font-family: 'Courier New', Courier, monospace;
}

.background{

    background: linear-gradient(to bottom, #222, #333);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.navBar{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(24, 24, 24,1);
    box-shadow: 0 0 10px 5px rgba(8, 8, 8, 0.8); 
    height: 70px;
    padding: 25px;
    z-index: 100;

}

.navBarlinks {
    display: flex;
}

.navBarlinks a {
    
    font-size: 18px;
    margin-right: 10px;
    margin-left: 40px;
    text-decoration: none;
    color: rgb(226, 226, 226);
    
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;
    padding-bottom: 0px; 
}

.navBar a:hover {
    font-size: 22px;
    border-bottom: 2px solid rgb(161, 196, 37);
    padding-bottom: 35px;
}

.media_container{

    background-color: rgba(24, 24, 24,0.8);
    box-shadow: 0 0 10px 5px rgba(8, 8, 8, 0.8);
    margin-top: 150px; 
    border-radius: 2px;
    width: 100%;
}

.media_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.media_items{
    width: auto;
    height: auto;
    padding: 20px;
}

.icons{
    width: 150px;
    height: 150px;
}

.text{
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: rgb(161, 196, 37);
    text-shadow:
        0 0 5px rgb(161, 196, 37),
        0 0 10px rgb(161, 196, 37),
        0 0 20px rgb(161, 196, 37),
        0 0 30px rgb(161, 196, 37),
        0 0 40px rgb(161, 196, 37),
        0 0 55px rgb(161, 196, 37),
        0 0 75px rgb(161, 196, 37);
}

.divider{
    border: none;
    height: 2px;
    background-color: rgb(151, 151, 151);
    width: 90%;
    margin: 50px auto;

}
